<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCiAiqs33M0nnkEhCH2LU5BUoyFbJIuDx8</string>
	<key>GCM_SENDER_ID</key>
	<string>225958551702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tvs.tvs</string>
	<key>PROJECT_ID</key>
	<string>tvsaviation-15b72</string>
	<key>STORAGE_BUCKET</key>
	<string>tvsaviation-15b72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225958551702:ios:c710d035e5a59b57e3e2b7</string>
</dict>
</plist>